.contentLeft {
  position: sticky;
  top: 65px;
  display: flex;
  flex-direction: column;
  width: 370px;
  background: #1e262f;
  height: max-content;
  border: 1px solid #2f3a46;
  padding-block: 10px;
  user-select: none;

  .category {
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
    margin-bottom: 5px;

    span {
      width: 84%;
      border-bottom: 1px solid #ffffff7e;
      text-align: center;
      padding: 7px 0;
      font-size: 20px;
      font-weight: 700;
      font-family: serif;
    }

    &:hover {
      background: #ef272c;

      color: #fff;
    }
  }
  .active {
    background: #ef272c;
    color: #fff;
  }
}
