.Modern {
  .content {
    display: flex;
    flex-direction: column;

    .log {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding-bottom: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);

      h1 {
        font-family: "Shalimar";
        font-size: 40px;
        font-weight: 100;
        letter-spacing: 1.5px;
      }
    }

    .images {
      display: grid;
      grid-auto-flow: column; /* колонки автоматически */
      grid-auto-columns: 426px; /* ширина каждой */
      grid-template-rows: repeat(5, 122px);
      height: 100%;
      gap: 18px;

      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .one {
        grid-row: span 4 / span 4;
      }

      .two {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
      }

      .three {
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 3;
      }

      .four {
        grid-row: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 3;
      }

      .five {
        grid-row: span 4 / span 4;
        grid-column-start: 4;
        grid-row-start: 1;
      }

      /* ---------- адаптация ---------- */
      @media (max-width: 1200px) {
        grid-auto-columns: 320px; /* вместо repeat */
        grid-template-rows: repeat(5, 90px);
      }

      @media (max-width: 768px) {
        grid-auto-columns: 240px;
        grid-template-rows: repeat(5, 70px);
      }

      @media (max-width: 480px) {
        grid-auto-columns: 180px;
        grid-template-rows: repeat(5, 60px);
      }
    }
  }
}
